<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="../css/stylesheet.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p> This site was created by me as a tutorial of Complete Nodejs course by Andrew Mead</p>
        <p>The site uses data from mapbox.com and weatherstack.com to give weather data for given location</p>
        <img class="portrait" src="/img/me.png">
    </div>
    
    {{>footer}}
</body>

</html>